.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--soft-gray);
    box-shadow: 0 0 15px -6px var(--transparent-black);
    position: sticky;
    top: 0;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    gap: 2em;
}